<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quiz Application</title>
	<style>
		body {background-color: indigo;}
			h2   {color: red;} 
 			h4	 {color: yellow;} 
			h1   {text-align: center;
				   color: red;}      
	</style>
	
</head>
<body>
	<h1>QUIZ</h1>
	
	
		<form action="/submitquiz" method="post">
			{% for question in question_list %}
			<h2></h2>
			
		<h2> {{loop.index}} {{question.question}}</h2>
		
			<h4><span style="font-size: 25px;"><input type="radio" name="{{question.q_id}}" value="{{question.option1}}" required>{{question.option1}} 
			<br><input type="radio" name="{{question.q_id}}" value="{{question.option2}}" required>{{question.option2}}			
			<br><input type="radio" name="{{question.q_id}}" value="{{question.option3}}" required>{{question.option3}}
		        <br><input type="radio" name="{{question.q_id}}" value="{{question.option4}}" required>{{question.option4}}</h4>
		    </span>
			
		<br>
			{% endfor %}

			<br><br>
			
		<pre>                                                                                 <input type="submit" name=" submitform" value="Submit">
		</form>
			

		
</body>
</html>
